<h1><%= user.escape("username") %></h1>
<p><%= user.escape("quote") %></p>
<p>Followers: <%= user.escape("followers_count") %></p>
<p>Following: <%= user.escape("following_count") %></p>
<p>Posts: <%= user.escape("total_posts") %></p>

<div class="user-posts"></div>
